<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up72.game.dao.ClubUserMapper">

	<resultMap id="BaseResultMap" type="com.up72.game.dto.resp.ClubUser" >
	  <id column="ID" property="id" jdbcType="INTEGER" />
	  <result column="CLUB_ID" property="clubId" jdbcType="INTEGER" />
	  <result column="USER_ID" property="userId" jdbcType="INTEGER" />
  	  <result column="STATUS" property="status" jdbcType="INTEGER" />
	  <result column="CREATE_TIME" property="createTime" jdbcType="BIGINT" />
	  <!-- 不属于表字段的 -->
	 <!--  <result column="CLUB_NAME" property="clubName" jdbcType="VARCHAR" />
	  <result column="USER_NAME" property="createName" jdbcType="INTEGER" />
	  <result column="SUM_PERSON" property="sumPerson" jdbcType="INTEGER" />
	  <result column="PERSON_QUOTA" property="personQuota" jdbcType="INTEGER" /> -->
	  
	</resultMap>
	  
	<insert id="insert" parameterType="com.up72.game.dto.resp.ClubUser">
        INSERT INTO CLUB_USER(
            CLUB_ID,USER_ID,STATUS,CREATE_TIME  
        )
        VALUES (
           #{clubId},#{userId},#{status},#{createTime} 
        )
    </insert>
    
    <select id="countByUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">
    
	    SELECT count(ID) from CLUB_USER where USER_ID = #{userId} and (STATUS = 1 or STATUS = 2)
	</select>
	
	<select id="countByClubId" resultType="java.lang.Integer" parameterType="map">
    
	    SELECT count(ID) from CLUB_USER where CLUB_ID = #{clubId} and STATUS = #{status}
	</select>
    
    <!-- <select id="selectClubByUserId" resultMap="BaseResultMap" parameterType="map">
	    SELECT 
	    	ci.CLUB_ID,gu.USER_NAME,ci.CLUB_NAME,ci.CREATE_TIME,ci.PERSON_QUOTA 
	    from CLUB_USER cu,CLUB_INFO ci,GAME_USER gu 
	    WHERE cu.CLUB_ID = ci.CLUB_ID and cu.USER_ID = gu.USER_ID
		and cu.USER_ID = #{userId}  and (cu.STATUS = 1 or cu.STATUS = 2)
	</select> -->
	<select id="selectClubByUserId" resultMap="BaseResultMap" parameterType="map">
	    SELECT * from CLUB_USER
	    WHERE USER_ID = #{userId}  and (STATUS = 1 or STATUS = 2)
	</select>
	<select id="selectUserByUserIdAndClubId" resultMap="BaseResultMap" parameterType="map">
	    SELECT 
	    	*
	    from CLUB_USER  
	    WHERE  CLUB_ID =#{clubId} and USER_ID = #{userId}
	</select>
	
	<update id="updateById" parameterType="com.up72.game.dto.resp.ClubUser" >
	    update CLUB_USER
	    <set >
	      <if test="clubId != null" >
	        CLUB_ID = #{clubId,jdbcType=INTEGER},
	      </if>
	      <if test="userId != null" >
	        USER_ID = #{userId,jdbcType=INTEGER},
	      </if>  
	      <if test="status != null" >
	        STATUS = #{status,jdbcType=INTEGER},
	      </if>   
	      <if test="createTime != null" >
	        CREATE_TIME = #{createTime,jdbcType=BIGINT},
	      </if> 
	    </set>
	    where ID = #{id,jdbcType=INTEGER}
  </update>
	<select id="allUsers" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from CLUB_USER where CLUB_ID=#{clubId} and (STATUS = 1 or STATUS = 2)
	</select>
	<select id="selectUserState" parameterType="map" resultType="java.lang.Integer">
		select STATUS from CLUB_USER where CLUB_ID = #{clubId} and USER_ID = #{userId}
	</select>
</mapper>