<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up72.game.dao.ClubGameRoomMapper">
    
    <insert id="save" parameterType="map">
        INSERT INTO CLUB_GAME_ROOM(
            CREATE_ID,ROOM_ID,CREATE_TIME,USER_ID1,USER_ID2,USER_ID3,USER_ID4,IS_PLAYING,MAX_SCORE,ROOM_TYPE,CIRCLE_NUM,
			DIAN_TYPE,
			XIAO_SA,
			LIANG_FENG,
			DA_HUN,
			SI_HUN_HU,
			CLUB_ID,
			SERVER_IP    
        )
        VALUES (
           #{createId},#{roomId},#{createTime},#{userId1},#{userId2},
           #{userId3},#{userId4},#{isPlaying},#{maxScore},#{roomType},
           #{circleNum},
           #{dianType},
           #{xiaoSa},
           #{liangFeng},
           #{daHun},
           #{siHunHu},
           #{clubId},
           #{server_ip}
        )
    </insert>
    
    <update id="updateRoomState" parameterType="map">
       update CLUB_GAME_ROOM set XIAO_JU = #{xiaoJuNum},IS_PLAYING = 0 where ROOM_ID = #{roomId} and CREATE_TIME = #{time}
    </update>
    
    <select id="findServerIpAndXiaoJu" parameterType="map" resultType="map">
		select SERVER_IP,XIAO_JU from CLUB_GAME_ROOM  WHERE ROOM_ID = #{roomId} AND CREATE_TIME = #{time}
	</select>
	
</mapper>